

.store-price {
  color: #d35757;
  font-size: 12px;
}

.our-price {
  color: purple;
  font-size: 12px;
}

.inr-price {
  color: darkslategrey;
  font-size: 12px;
}

img {
  min-width: 300px;
  min-height: 300px;
  max-height: 500px;
  max-width: 500px;
}

mat-card-content {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}


mat-card {
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(17deg, rgba(255,182,193,1) 15%, rgba(216,175,227,1) 74%);
  border-radius: 10px;
}

.mr-10 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}
